@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
  --orange-accent: #F24E2B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

/* Global */

.container {
  max-width: 1440px;
}

a {
  text-decoration: none;
  color: #141414;
}

.section-title {
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.span-bi {
  font-weight: 600;
  font-style: italic;
}

.span-b {
  font-weight: 700;
}

.span-i {
  font-weight: 300;
  font-style: italic;
}

.orange-link {
  color: var(--orange-accent);
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

.orange-link:hover {
  text-decoration: underline;
}

/* Nav */

#navbar {
  background: rgba(255, 255, 255, 0.95);
  height: 60px;
  width: 100%;
  box-shadow: 0 10px 25px 10px rgba(200, 200, 200, 0.1);
  position: fixed;
  z-index: 100;
}

.nav-container {
  height: 60px;
  display: flex;
  padding: 0 7rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1440px;
}

.nav-container img {
  width: 110px;
  position: relative;
}

.nav-container ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}

.nav-container li {
  font-size: 14px;
  margin: 0px 14px;
}

/* Hero section */

#hero {
  display: flex;
  justify-content: center;
  position: relative;
}

img.hero {
  display: block;
  position: relative;
  top: 80px;
  width: 85%;
  height: 690px;
  filter: brightness(80%);
  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.4)
}

img.w-logo {
  position: absolute;
  top: 320px;
  width: 30%;
  opacity: .9;
}

#hero a {
  position: absolute;
  top: 700px;
}

.circle {
  /* right: 697px;
  top: 700px; */
  display: flex; 
  align-items: center;
  justify-content: center; 
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px #fff solid;
  border-radius: 50%;
}

.fa-chevron-down {
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
}

/* Section 1: Nosotros*/

.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  margin: auto;
  padding-top: 8rem;
  top: 90px;
  width: 85%;
} 

#section-1 img {
  width: 540px;
  height: auto;
  margin: 0 2rem 0 2rem;
  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.4);
}

.text-block {
  margin: 1rem 2rem;
  text-align: justify;
}

/* Section 2: Servicios*/

#section-2 li {
  text-indent: 1rem;
  list-style: none;
  margin-bottom: 5px;
}

#section-2 img {
  margin: 1rem;
  width: 570px;
  height: auto;
  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.4);
}

/* Section 3: Galeria de fotos */

#section-3 {
  flex-direction: column;
  justify-content: center;
  width: 85%;
}

#section-3 h1 {
  text-align: center;
}

.grid-fotos {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 10px;
  margin-top: 3rem;
  margin-right: 2rem;
  width: 85%;
  padding: 0;
}


.grid-fotos img {
  width: 100%;
  transition: all .2s ease-out;
}

.grid-fotos img:hover {
  filter: brightness(85%);
}

/* Section 4: Formulario */

#section-4 {
  margin-bottom: 10rem;
}

#section-4 img {
  width: 50%;
  height: 50%;
  margin: auto 1rem;
  position: relative;
}

#section-4 form {
  color: #828282;
  margin-top: 2rem;
  width: 80%;
}


#section-4 input, select, textarea {
  width: 510px;
  padding: 0.8rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: 10px;
  color: #3d3d3d;
  font-family: inherit;
}

#section-4 select {
  color: #828282;
  padding-right: 4rem;
}

.btn {
  background: none;
  font-size: 16px;
  color: #F24E2B;
  border: 1px solid #F24E2B;
  padding: 0.3rem 2rem;
  border-radius: 5px;
  width: 30%;
  cursor: pointer;
}

.btn:hover {
  cursor: pointer;
  background: #F24E2B;
  color: #fff;
}

/* Footer */

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  background: #d8d8d8;
  padding: 4rem 6rem;
  align-content: space-between;
}

.socials i {
  font-size: 22px;
  margin-right: .5rem;
  margin-bottom: 1rem;
}

.info-block {
  margin-bottom: 1rem;
}

.map-container {
  display: block;
  width: 80%;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {

} 